@charset "utf-8";

/* font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* reset */
html,
body {
  width: 100%;
  height: 100%;
  /* font-size: 10px; */
}
body {
  font-family: "Noto Sans KR", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",
    "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-weight: 500;
  color: #111;
  letter-spacing: -0.01em;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal; /*font-family:inherit;*/
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  border: 0;
}
i,
em,
address {
  font-style: normal;
}
strong,
b {
  font-weight: 700;
}
sup {
  font-size: 10px;
  line-height: 1;
}
form,
fieldset {
  display: block;
  border: 0;
}
iframe {
  border: 0;
}
caption,
legend {
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
input,
textarea {
  opacity: 1;
  -webkit-text-fill-color: inherit;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #111;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
textarea,
select {
  outline: none;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  pointer-events: none;
}

button {
  overflow: visible;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #111;
  line-height: inherit;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button span,
button:after {
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}
